.feed {
  display: flex;
  padding-top: 100px;
}

.text-decorator-none{
  text-decoration: none;
}

.cursor {
  cursor: pointer;
}

.backgroundCardLista {
  background-color: #d1ebf07e;
}

/* From uiverse.io by @alexmaracinaru */
.atualizarButton {
  border: transparent;
  background: transparent;
}

.atualizarButton span {
  padding-bottom: 7px;
  letter-spacing: 1px;
  font-size: 13px;
  padding-right: 5px;
  text-transform: uppercase;
  margin-left: 75px;
}

.atualizarButton svg {
  transform: translateX(-8px);
  transition: all 0.3s ease;
}

.atualizarButton:hover svg {
  transform: translateX(0);
}

.atualizarButton:active svg {
  transform: scale(0.9);
}

.hover-underline-animation {
  position: relative;
  color: black;
  padding-bottom: 20px;
}

.hover-underline-animation:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #000000;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.atualizarButton:hover .hover-underline-animation:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.cursor {
  cursor: pointer;
}

/* From uiverse.io by @alexmaracinaru */
.deletarButton {
  border: transparent;
  background: transparent;
}

.deletarButton span {
  padding-bottom: 7px;
  letter-spacing: 2.5px;
  font-size: 13px;
  padding-right: 5px;
  text-transform: uppercase;
}

.deletarButton svg {
  transform: translateX(-8px);
  transition: all 0.3s ease;
}

.deletarButton:hover svg {
  transform: translateX(0);
}

.deletarButton:active svg {
  transform: scale(0.9);
}

.hover-underline-animation {
  position: relative;
  color: black;
  padding-bottom: 20px;
}

.hover-underline-animation:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #000000;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.deletarButton:hover .hover-underline-animation:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}