.App{
    margin-top: 80px;
}

.App h2:after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    width: 150px;
    height: 3px;
    background-color: #141b4e;
}

.App h1 {
    font-size: 2.2rem;
    padding-bottom: 10px;
}

.tituloSolu{
    text-align: center;
    font-size: 2.2rem;
    margin: 20px 0 15px 0;
    position: relative;
    font-weight: 600;
    margin-top: 50px;
    margin-bottom: 30px;
    padding-bottom: 10px;
}

.tituloSolu:after {
        content: '';
        position: absolute;
        left: 50%;
        bottom: 0;
        transform: translateX(-50%);
        width: 150px;
        height: 3px;
        background-color: #141b4e;
    }


.App h1:after {
    content: '';
    {/*position: absolute;*/}
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    width: 250px;
    height: 3px;
    background-color: #141b4e;
}

article img {
    width: 50px;
    height: 50px;
    margin: 10px;
}

.item img{
    width: 250px;
    height: 250px;
    object-fit: cover;
    border-radius: 50%;
}

h2 {
    text-align: center;
    font-size: 2.2rem;
    margin: 20px 0 15px 0;
    position: relative;
    font-weight: 600;
    margin-top: 20px;
    margin-bottom: 30px;
    padding-bottom: 10px;
}


.cardsolu {
    width: calc(34% - 22px);
    padding: 40px 12px;
    margin: 0 30px;
    text-align: center;
    cursor: pointer;
    position: relative;
    margin-bottom: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.item:hover img{
    cursor: pointer;
    opacity: 50%;
    transform: scale(0.8);
}

.nominho, .funcaozinha{
    padding: 25px;
}

.funcaozinha{
    font-size: 23px;
}

h1{
    font-size: 30px;
    font-weight: lighter;
}

.loguinho{
    display: flex;
    flex-flow: row;
    margin: 10%;  
}

svg:hover{
    filter:drop-shadow(2px 2px 2px black);
    scale: 1.2;
    transform: scale(1.2);
}

svg{
    color: black;
}

ul{
    list-style: none;
}


.alice-carousel__dots-item:not(.__custom):hover, .alice-carousel__dots-item:not(.__custom).__active{
    background-color: rgb(153, 131, 131) !important;
}

.alice-carousel__prev-btn-item span, .alice-carousel__next-btn-item span {
    color: black !important;
    -webkit-text-fill-color: black
}