.banco {
  padding: auto;
}

.alice-carousel__prev-btn [data-area]::after,
.alice-carousel__next-btn [data-area]::after {
  position: fixed;
}

.tituloSolu {
  text-align: center;
  font-size: 2.2rem;
  margin: 20px 0 15px 0;
  position: relative;
  font-weight: 600;
  margin-bottom: 50px;
  padding-bottom: 10px;
}

.tituloSolu:after {
  content: '';
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  width: 150px;
  height: 3px;
  background-color: #145786;
}

  .itemBanco img {
    margin: 0 10px;
    width: 300px;
    height: 300px;
    padding: 0 20px;
    object-fit: scale-down;
  }

  .item {
    display: flex !important;
    direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .App h1 {
    font-size: 2.2rem;
    padding-bottom: 10px;
  }