.toolbar {
    background-color:#8a2be2;
}

.cursor {
    cursor: pointer;
    color: white;
}

.text-decorator-none {
    text-decoration: none;
}

.menu {
    display: flex;
    position: absolute;
    right: 2vh;
}
