/* .toolbar {
    background-color:#3F51B5;
} */

.cursor {
    cursor: pointer;
    color: white;
    transition: transform 1s;
}

.cursor:hover{
    transform: scale(1.2);
}

.cursor:active {
    color: #eceaea;
}

.text-decorator-none {
    text-decoration: none;
}

.blogPessoal {
    display: flex;
    margin-right: 2vh;
}

.menu {
    display: flex !important;
    justify-content: center !important;
    right: 1vh;
    gap:.0rem;
}

.logout {
    text-decoration: none;
    color: #C21010;
    cursor: pointer;
    transition: transform 1s;
}

.logout:hover {
    transform: scale(1.2);
    color: #C21010;
}
