.text-decorator-none{
    text-decoration: none;

}

.textos1{
    font-weight:bold !important;

}

/*.imagem{
  
    background-repeat: no-repeat;
    width: 100vh;
    min-height: 100vh;
    background-size: cover;
    background-position: center;

}*/