.bold {
    font-weight: bold !important;
}

.imagem {
    background-image: url(https://i.imgur.com/8E6y0bN.png);
    background-repeat: no-repeat;
    width: 100vh;
    min-height: 100vh;
    background-size: cover;
    background-position: center;
}

.text-decorator-none{
    text-decoration: none !important;
}

.container {
    direction: row;
    justify-content: center;
    align-items: center;
}

.logar {
    text-align: center;
    margin-top: 1.5rem;
}

.orientacoes {
    display: flex;
flex-direction: column;
align-items: center;
justify-content: center;  
padding-top: 20px;
}

.vrido{
    background: rgba(255,255,255,0.6);
-webkit-backdrop-filter: blur(1px);
backdrop-filter: blur(1px);
border: 1px solid rgba(255,255,255,0.3);
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;    
border-radius: 8px;
    width: 80%;
    height: 650px;
}
.fundo input:focus{
    color:#2a3eb1;
    border-radius: 8px;
}
