.tituloFAQ{
    text-align: center;
    font-size: 2.2rem;
    margin: 20px 0 15px 0;
    position: relative;
    font-weight: 600;
    margin-top: 20px;
    margin-bottom: 30px;
    padding-bottom: 10px;
}

.tituloFAQ:after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    width: 150px;
    height: 3px;
    background-color: #141b4e;
}

.formFAQ{
    background-color: #eef1ff !important;
    
}

.questionFAQ{
    font-weight: bold !important;
    align-items: center;
    text-align: center;
    justify-content: center;
    
}

.tabelaFAQ{
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
}
