/* @import url('https://fonts.googleapis.com/css2?family=Neucha&display=swap') */
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
    margin: 0 auto; 
    padding: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.title {
    flex-direction: column;
    padding: 15px;
    font-size: 20px;
    margin-left: -10px;
}

.lista-menu li {
    display: inline-block;
    padding: 15px;
    font-size: 19px;
}

.lista-menu li a {
    text-decoration: none;
    color: #022534;
    margin-right: -8px;
}

.lista-menu a:hover {
    color: #5006d0;
    transition: 0.3s;
}

.login {
    border: 2px solid #022534;
    padding: 10px 20px 10px 20px;
    border-radius: 15px;
}

/* n está reconhecendo a cor branca --- verificar isso*/
.login:hover {
    background-color: #022534;
    color: #fff;
}

.title h1 {
    font-weight: 200;
}

main {
    display: flex;
    flex-direction: row;
}

aside {
    margin-top: 100px;
}

article img {
    width: 700px;
    height: 550px;
}

aside h2 {
    font-size: 56px;
}

aside h2 span {
    color: #5006d0;
    font-weight: bold;
}

aside h3 {
    font-size: 45px;
    padding-bottom: 10px;
}

aside p {
    font-size: 20px;
    line-height: 20px;
    max-width: 500px;
}

.enviar {
    margin-top: 20px;
    margin-left: 100px;
    height: 20px;
    padding: 25px;
    border-radius: 20px;
    border: none;
    font-size: 15px;
    background-color: #022534;
    color: #fff;
    cursor: pointer;
    font-weight: bold;
}

input [type="submit"] {
    height: 50px;
    width: 50%;
}

/*FOOTER*/

 .on {
    color: #5006d0;
}


.footer {
    display: flex;
    direction: row;
    background-color: #2d2a30;
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    margin-top: 80px;
    font-family: 'Montserrat', sans-serif, bold;
    padding-bottom: 80px;
    justify-content: center;
}

.itensFooter{
    display: flex;
    direction: row;
}

.footer-left, .footer-distributed .footer-center, .footer-distributed, .footer-right {
    display: inline-block;
    vertical-align: top;
    padding-top: 40px
}

/* footer-esquerda */

 .footer-left {
    width: 30vw;
    align-items: left
}

.footer-distributed, .soluti {
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    font-size: 30px;
}

/*links*/

.footer-distributed ,.footer-links {
    color: #ffffff !important;
    margin: 20px 0 12px;
    
}

.footer-distributed, .footer-links a {
    display: inline-block;
    line-height: 1.8;
    text-decoration: none;
    color: inherit;
}

.footer-company-name {
    color: #8f9296;
    font-size: 14px;
    font-weight: normal;
    margin: 0;
}

/*footer - centro*/
.footer-center {
    width: 20vw;
    align-items: center !important;
    
}

.footer-center i {
    background-color: #33383b;
    color: #ffffff;
    font-size: 25px;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    text-align: center;
    line-height: 42px;
    margin: 10px 15px;
    vertical-align: middle;
    justify-content: center;
}

 .footer-center, i.email {
    font-size: 17px;
    line-height: 38px;
    padding: 0
    
}

 .footer-center, p {
    display: inline-block;
    color: #ffffff;
    vertical-align: middle;
    margin: 0;
}

 .footer-center, p  {
    display: block;
    font-weight: normal;
    font-size: 14px;
    line-height: 2;
}

.footer-center, p a {
    color: #5006d0;
    text-decoration: none;
    
}


/* footer-direita*/

 .footer-right {
    width: 35vw;
    align-items: right !important;
}

.footer-company-about {
    line-height: 20px;
    color: #92999f;
    font-size: 13px;
    font-weight: normal;
    margin: 0;
}

.footer-company-about span {
    display: block;
    color: #ffffff;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
}

.footer-icons {
    margin-top: 25px;
}

 .footer-icons a {
    display: inline-block;
    width: 35px;
    height: 35px;
    cursor: pointer;
    background-color: #ffffff;
    border-radius: 2px;
    font-size: 20px;
    color: #ffffff;
    text-align: center;
    line-height: 35px;
    margin-right: 3px;
    margin-bottom: 5px;
}

 .footer-icons a:hover {
    background-color: #3F71EA;
}

.footer-links, a:hover {
    color: #3F71EA;
}


@media (max-width: 880px) {
     .footer-left, .footer .footer-center, .footer-right {
        display: block;
        width: 100%;
        margin-bottom: 40px;
        text-align: center;
    }
     .footer-center, i {
        margin-left: 0;
    }
}       

/*FIM DO FOOTER*/

    
