.box1{
    background-color: #06283D;
    height: 120px;
}

.subbox {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
}

.sociais {
    display: flex;
    justify-content: center;
    align-items: center;
}

.box2{
    background-color: #121212;
    height: 60px;
}

.redes{
    font-size: 60px !important; 
    color: white;

}
.textos{
    text-align: center;
    color: white;
} 

.container {
    direction: row;
    justify-content: center;
    align-items: center;
}