.cursor {
    cursor: pointer;
}

.btnModal {
    color: white;
}

.radius {
    border-radius: 10%;
}

.novoPost {
    text-transform: uppercase;
    transition: 0.5s;
    position: relative;
    font-size: 15px;
}

.novoPost:hover {
    color: #094063 !important;
    box-shadow: 0 0 45px #094063;
}

.novoPost span {
    position: relative;
}

.novoPost i {
    position: absolute;
    inset: 0;
    display: block;
}