.deletar {
    text-transform: uppercase;
    letter-spacing: 0.1em;
    padding: 10px 30px;
    transition: 0.5s;
    position: relative;
    font-size: 17px;
    background: #333;
    border: none;
    color: black;
}

.deletar:hover {
    background: #ff1867;
    color: #ff1867;
    box-shadow: 0 0 45px #ff1867;
}

.deletar::before {
    content: '';
    position: absolute;
    inset: 2px;
    background: white;
}

.deletar span {
    position: relative;
    z-index: 1;
}

.deletar i {
    position: absolute;
    inset: 0;
    display: block;
}