.imagem2 {
    background-image: url(https://i.imgur.com/YfHkY2S.png);
    background-repeat: no-repeat;
    width: 100vh;
    min-height: 100vh;
    background-size: cover;
    background-position: center;
}

.title {
    font-weight: bold !important;
    text-align: center;
}

.text-decorator-none {
    text-decoration: none;
}

.btnCancelar {
    background-color: #06283d86 !important;
    color: white !important;
    margin-right: 20px !important;
}

.cadastrar {
    background-color: #06283D !important;
    color: white !important;
}

.container {
    align-items: center;
    direction: row;
    justify-content: center;
}

.body {
	background: linear-gradient(-45deg,#15417b, #1197a3,#15417b);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	height: 100vh;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.vrido{
    background: rgba(255,255,255,0.1);
-webkit-backdrop-filter: blur(1px);
backdrop-filter: blur(1px);
border: 1px solid rgba(255,255,255,0.05);
    border-radius: 3%;
    padding: 5%;
}