.imagem2 {
    background-image: url(https://images.unsplash.com/photo-1483959651481-dc75b89291f1?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=649&q=80);
    background-repeat: no-repeat;
    width: 100vh;
    min-height: 100vh;
    background-size: cover;
    background-position: center;
}

.title {
    font-weight: bold !important;
    text-align: center;
}

.text-decorator-none {
    text-decoration: none;
}

.btnCancelar {
    background-color: #06283d86 !important;
    color: white !important;
    margin-right: 20px !important;
}

.cadastrar {
    background-color: #06283D !important;
    color: white !important;
}

.container {
    align-items: center;
    direction: row;
    justify-content: center;
}