.imagem2 {
    background-repeat: no-repeat;
    width: 100vh;
    min-height: 100vh;
    background-size: cover; 
    background-position: center;
}

.textos2 {
    font-weight: bold !important;
    text-align: center;
}

.text-decorator-none {
    text-decoration: none;
}

.btnCancelar {
    background-color: #e83c1e !important;
    color: white !important;
    margin-right: 20px !important;
}

.cadastrar {
    background-color: #8a2be2 !important;
    color: white !important;
}

.container {
    direction: row;
    justify-content: center;
    align-items: center;
}